@charset "utf-8";
/* CSS Document */

<head>
<style type="text/css">
body
{ color:black;
/*background: black;*/
}
p.bottommargin
{
margin-bottom: 205px;
color: black;
border: solid thick blue;
}
</style>
</head>
<body >
 <html>

<head>

<meta charset="UTF-8">